<div class="honor">
    <div class="banner text-center" style="background-image: url(<%=$root%>img/webcase.jpg)">
        <div class="container">
            <h1>荣誉资质</h1>
        </div>
    </div>
    <div style="padding: 2rem;">
        当前位置：<span onclick="openPage('/')" style="color:cornflowerblue; cursor:pointer;">首页</span> > 荣誉资质
    </div>
    
    <div class="section">
        <div class="container" style="padding-top: 3rem; margin-bottom: 3rem;">
            <div class="row clearfix" id="box">
                <div class="col col-md-3 col-sm-6 col-sm-12">
                    <div class="mypicture" style="padding: 1rem;">
                        <img src="<%=$root%>img/ry1.jpg" style="height: 38rem;" alt="案例">
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-sm-12">
                    <div class="mypicture" style="padding: 1rem;">
                        <img src="<%=$root%>img/ry2.jpg" style="height: 38rem;" alt="案例">
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-sm-12">
                    <div class="mypicture" style="padding: 1rem;">
                        <img src="<%=$root%>img/ry3.jpg" style="height: 18rem;" alt="案例">
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-sm-12">
                    <div class="mypicture" style="padding: 1rem;">
                        <img src="<%=$root%>img/ry4.jpg" style="height: 18rem;" alt="案例">
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-sm-12">
                    <div class="mypicture" style="padding: 1rem;">
                        <img src="<%=$root%>img/ry5.jpg" style="height: 18rem;" alt="案例">
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-sm-12">
                    <div class="mypicture" style="padding: 1rem;">
                        <img src="<%=$root%>img/ry6.jpg" style="height: 18rem;" alt="案例">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>