<div class="banner text-center" style="background-image: url(<%=$root%>img/webcase.jpg)">
    <div class="container">
        <h1>产品中心</h1>
        <p class="lead">匠心为您打造精品板材</p>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row clearfix" id="box">
            <div class="col col-md-3 col-sm-6 col-sm-12">
                <div class="mypicture" style="padding: 1rem;">
                    <img src="<%=$root%>img/ry1.jpg" style="height: 38rem;" alt="案例">
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-sm-12">
                <div class="mypicture" style="padding: 1rem;">
                    <img src="<%=$root%>img/ry2.jpg" style="height: 38rem;" alt="案例">
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-sm-12">
                <div class="mypicture" style="padding: 1rem;">
                    <img src="<%=$root%>img/ry3.jpg" style="height: 18rem;" alt="案例">
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-sm-12">
                <div class="mypicture" style="padding: 1rem;">
                    <img src="<%=$root%>img/ry4.jpg" style="height: 18rem;" alt="案例">
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-sm-12">
                <div class="mypicture" style="padding: 1rem;">
                    <img src="<%=$root%>img/ry5.jpg" style="height: 18rem;" alt="案例">
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-sm-12">
                <div class="mypicture" style="padding: 1rem;">
                    <img src="<%=$root%>img/ry6.jpg" style="height: 18rem;" alt="案例">
                </div>
            </div>
        </div>
    </div>
</div>